body {
    background-color: hsl(218, 26%, 18%);
    font-family: 'Manrope', sans-serif;
}

div {
    background-color: hsl(217, 19%, 24%);
    text-align: center;
    /* Individually defined the top, left, and right margins in order for the button element to overlap the div */
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px 20px 75px 20px;
    border-radius: 8px;
}

button {
    cursor: pointer;
    background-color: hsl(150, 100%, 66%);
    padding: 20px;
    border: none;
    margin-top: -30px;
    margin-left: 680px;
    margin-bottom: 50px;
    border-radius: 100%;
}

button:hover {
    box-shadow: 0 10px 30px hsl(150, 100%, 66%);
    transition: all 0.4s ease-in-out;
}

h2 {
    color: hsl(193, 38%, 86%);
    font-size: 28px;
}

h3 {
    color: hsl(150, 100%, 66%);
}

footer {
   text-align: center;
}

a {
    color: white;
}

@media only screen and (max-width:390px) {
    div {
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
}

    button {
        margin-left: 155px;
    }

    #pattern-divider-desktop {
        display: none;
} 

    footer {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (max-width:2000px) {
    #pattern-divider-mobile {
        display: none;
    }
}